In [48]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as pt

In [103]:
data = 'banknote'
path_csv = os.path.join('csv', data+'.csv')
df = pd.read_csv(path_csv, sep=',')
df.head()

,Unnamed: 0,Attack,Epsilon,Defence,Accuracy after attack,Score,Block Rate,False Positive Rate
0,0,apgd,0.05,baard_2stage,78.571429,97.448980,35.714286,6.122449
1,1,apgd,0.05,baard_3stage,78.571429,99.489796,38.775510,8.163265
2,2,apgd,0.05,fs,78.571429,87.244898,43.877551,48.979592
3,3,apgd,0.05,lid,78.571429,92.857143,27.040816,1.530612
4,4,apgd,0.05,rc,78.571429,83.163265,-100.000000,0.000000

In [104]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,Attack,Epsilon,Defence,Accuracy after attack,Score,Block Rate,False Positive Rate
0,apgd,0.05,baard_2stage,78.571429,97.448980,35.714286,6.122449
1,apgd,0.05,baard_3stage,78.571429,99.489796,38.775510,8.163265
2,apgd,0.05,fs,78.571429,87.244898,43.877551,48.979592
3,apgd,0.05,lid,78.571429,92.857143,27.040816,1.530612
4,apgd,0.05,rc,78.571429,83.163265,-100.000000,0.000000

In [105]:
df[df['Attack']=='apgd']

,Attack,Epsilon,Defence,Accuracy after attack,Score,Block Rate,False Positive Rate
0,apgd,0.05,baard_2stage,78.571429,97.448980,35.714286,6.122449
1,apgd,0.05,baard_3stage,78.571429,99.489796,38.775510,8.163265
2,apgd,0.05,fs,78.571429,87.244898,43.877551,48.979592
3,apgd,0.05,lid,78.571429,92.857143,27.040816,1.530612
4,apgd,0.05,rc,78.571429,83.163265,-100.000000,0.000000
5,apgd,0.20,baard_2stage,0.510204,99.489796,99.489796,6.122449
6,apgd,0.20,baard_3stage,0.510204,99.489796,99.489796,8.163265
7,apgd,0.20,fs,0.510204,51.530612,51.020408,51.530612
8,apgd,0.20,lid,0.510204,72.448980,71.938776,1.020408
9,apgd,0.20,rc,0.510204,52.551020,-100.000000,0.000000
10,apgd,0.40,baard_2stage,0.000000,100.000000,100.000000,2.551020
11,apgd,0.40,baard_3stage,0.000000,100.000000,100.000000,4.591837
12,apgd,0.40,fs,0.000000,39.285714,39.285714,0.000000
13,apgd,0.40,lid,0.000000,98.979592,98.979592,0.000000
14,apgd,0.40,rc,0.000000,59.183673,-100.000000,0.510204
15,apgd,1.00,baard_2stage,0.000000,100.000000,100.000000,2.551020
16,apgd,1.00,baard_3stage,0.000000,100.000000,100.000000,4.591837
17,apgd,1.00,fs,0.000000,40.816327,40.816327,0.000000
18,apgd,1.00,lid,0.000000,93.367347,93.367347,0.000000
19,apgd,1.00,rc,0.000000,59.183673,-100.000000,0.510204

In [107]:
df1 = df.pivot_table(index=['Attack', 'Epsilon'],columns=['Defence'],values=['Score','False Positive Rate'])
df1.columns = df1.columns.swaplevel(0,1).rename(["",""])
df1.sort_index(axis=1,level=0,inplace=True)
df1.to_excel('df.xlsx',sheet_name=data+' 1')
df1.columns

MultiIndex(levels=[['baard_2stage', 'baard_3stage', 'fs', 'lid', 'rc'], ['False Positive Rate', 'Score']],
           codes=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['', ''])